.introduction_video{
   margin: 50px 0px 0px 80px ;
   border-radius: 10px;
   overflow: hidden;
 
   height: 500px;
   width: 500px;
}
.introduction{
    height:600px;
    background-color: rgb(95, 95, 135);
}
.caurosels{
    padding: 50px;
    background-color: black;
}
#coursecontent{
    padding: 30px;
    background-color: black;
}